<!DOCTYPE html>
<div class="container">
    <h1>{{{show.date}}}</h1>
    <h1>{{{show.city}}}</h1>
    <h1>{{{show.venue}}}</h1>
    <h4>{{{show.address}}}</h1>
    <h4>Contact: {{{show.contact}}}</h4>
    <table class="table">
        <thead>
            <tr>
                {{#each show.merch}}
                    <th>{{item}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody id="shows-table">
            <tr>
                {{#each show.merch}}
                    <td>{{sold}}</td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h1>Merch:</h1>
    <form id="single-show-form" data-id="{{show._id}}">
        {{#each merch}}
            <div class="form-group" data-id="{{name}}" data-merch-type="{{type}}">
                <label for="{{name}}">{{name}}:</label>
                <input type="number" class="form-control" id="{{name}}">
            </div>
        {{/each}}
        <button type="submit" class="btn btn-default">Add Merch</button>
    </form>
</div>
